.content {
    max-width:800px;
    margin:auto;
}

header {
    font-size:14px;
    text-align:center;
    color: white;
    background-color:blue;
    height:55px;
    width:800px;
}
nav {
    font-size:14px;
    color: white;
    text-decoration:underline;
    background-color:green;
    display:flex;
    flex-direction:row;
    height:50px;
    width:800px;
}
.article-container {
    font-size:14px;
    text-align:center;
    color:white;
    background-color:pink;
    float:left;
    height:210px;
    width:528px;    
}
.section {
    font-size:14px;
    text-align:center;
    color:white;
    background-color:brown;
    height:65px;
    width:528px;
}
.aside {
    font-size:14px;
    text-align:center;
    color:white;
    background-color:cyan;
    float:left;
    width:272px;
    height:210px;
}
footer {
    font-size:14px;
    text-align:center;
    color:white;
    background-color:green;
    width:800px;
}