header {
    text-align:center;
    color: white;
    background-color:blue;
    height:100px;
}
nav {
    color: white;
    text-decoration:underline;
    background-color:green;
    display:flex;
    flex-direction:row;
}
.article-container {
    text-align:center;
    color:white;
    background-color:pink;
    float:left;
    width:750px;
}
.section {
    text-align:center;
    color:white;
    background-color:brown;
    height:100px;
}
.aside {
    text-align:center;
    color:white;
    background-color:cyan;
    float:left;
    width:250px;
}